{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'chatapp/contact.css' %}">
{% endblock %}



{% block content %}

    <div class="contact-container">
        <div class="contact-search">
            <input type="text"  id="searchbar" placeholder="Search...">
        </div>
        <div class="contact-display">

        </div>

        <script type="text/javascript">

            let searchbar = document.getElementById("searchbar");

            function reset() {
                let display = document.getElementsByClassName("contact-display")[0]
                while (display.firstChild) {
                    display.removeChild(display.firstChild);
                }
            }

            searchbar.addEventListener('keyup', () => {
                reset();
                let xhr = new XMLHttpRequest();
                xhr.open('POST', '{% url 'search' %}', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {

                        let users = JSON.parse(xhr.responseText);

                        let display = document.getElementsByClassName("contact-display")[0]

                        for (let user in users) {

                            let wrapper = document.createElement('div');
                            wrapper.className = "contact-wrapper";

                            let profile_image = document.createElement('img');
                            profile_image.src = "{% static 'chatapp/images/account.png' %}"

                            let name = document.createElement('p');
                            name.innerText = users[user]['username'];

                            let add_image = document.createElement('img')
                            add_image.src = "{% static 'chatapp/images/add.png' %}"

                            wrapper.appendChild(profile_image);
                            wrapper.appendChild(name);
                            wrapper.appendChild(add_image);
                            display.appendChild(wrapper);
                        }
                    }
                };

                if (searchbar.value !== "") {
                    xhr.send('username=' + searchbar.value);
                }
            })
        </script>

    </div>

{% endblock %}