{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'chatapp/index.css' %}">
{% endblock %}

{% block content %}

        <div class="menu-wrapper">

            <div class="menu-header">
                <a href="{% url 'index' %}" ><img alt="" src="{% static 'chatapp/images/message-logo.png' %}"></a>
                <h1>ChatSite</h1>
            </div>

            <div class="menu-tabs">
              <button class="menu-tab-button" onclick="openTab('Chat')">Chat</button>
              <button class="menu-tab-button" onclick="openTab('Contact')">Contacts</button>
            </div>

            <div id="Chat" class="content">
              <h2>Conversations</h2>
              <p>Many Conversations...</p>
            </div>

            <div id="Contact" class="content" style="display:none">
                    <div class="contact-search">
                        <input type="text"  id="searchbar" placeholder="Search...">
                    </div>

                    <div class="contact-display">

                    </div>
            </div>

            <script type="text/javascript">
                function openTab(tabName) {
                  let i;
                  let x = document.getElementsByClassName("content");
                  for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                  }
                  document.getElementById(tabName).style.display = "block";
                }
            </script>

            <script type="text/javascript">

                let searchbar = document.getElementById("searchbar");

                function reset() {
                    let display = document.getElementsByClassName("contact-display")[0]
                    while (display.firstChild) {
                        display.removeChild(display.firstChild);
                    }
                }

                searchbar.addEventListener('keyup', () => {
                    reset();
                    let xhr = new XMLHttpRequest();
                    xhr.open('POST', '{% url 'search' %}', true);
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === 4 && xhr.status === 200) {

                            let users = JSON.parse(xhr.responseText);

                            let display = document.getElementsByClassName("contact-display")[0]

                            for (let user in users) {

                                let wrapper = document.createElement('div');
                                wrapper.className = "contact-wrapper";

                                let profile_image = document.createElement('img');
                                profile_image.src = "{% static 'chatapp/images/account.png' %}"

                                let name = document.createElement('p');
                                name.innerText = users[user]['username'];

                                let add_image = document.createElement('img')
                                add_image.src = "{% static 'chatapp/images/add.png' %}"

                                wrapper.appendChild(profile_image);
                                wrapper.appendChild(name);
                                wrapper.appendChild(add_image);
                                display.appendChild(wrapper);
                            }
                        }
                    };

                    if (searchbar.value !== "") {
                        xhr.send('username=' + searchbar.value);
                    }
                })
            </script>




            <p>Hello, {{ user | default:"Guest" }}!</p>
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'contact' %}">Add contacts...</a>
            <a href="{% url 'profile' user_id=request.user.id %}">Profile</a>
        </div>

        <div class="conversation-wrapper">

        </div>

        <div class="message-wrapper">
            <input class="message-input" type="text" placeholder="Schreibe eine Nachricht...">
        </div>


{% endblock %}