{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'chatapp/login.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block content %}

<div class="login-wrapper">
    <h2>Login</h2>

    <form method="post">
        {% csrf_token %}
        {{ login_form.as_p }}

        <p>
            <input id="btn" type="submit" value="Login">
        </p>
        <p>
            <a href="{% url 'register' %}">Register</a>
        </p>

    </form>

</div>


{% endblock %}