{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'chatapp/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="profile-wrapper">

        <div class="profile-container">

            <div class="image-container">
                <img src="{{ image }}">

            </div>

            <div class="info-container">
                <p>{{ firstname }}</p>
                <p>{{ lastname }}</p>
                <p>{{ email }}</p>

            </div>

        </div>

        <div class="friend-container">

        </div>



    </div>
{% endblock %}