{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'chatapp/register.css' %}">
{% endblock %}



{% block content %}

<div class="register-wrapper">

    <h2>Register</h2>

    <form method="post">
        {% csrf_token %}
        {{ registration_form.as_p }}
        <p>
            <input id="btn" type="submit" value="Register">
        </p>
        <p>
            <a href="{% url 'login' %}">Login</a>
        </p>
    </form>

</div>

{% endblock %}
