body {
    margin: 80px 0;
    background-color: #202020;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #359081;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;

}

.header-left {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 275px;
}

.header-left img {
    height: 50px;
    margin: 0 25px;
}

.header-left h1 {
    font-size: 40px;
    margin: 0;
}

.header-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    color: black;
}

.header-right img {
    height: 40px;
    margin: 0 15px;
    cursor: pointer;

}

.header-right p {
    font-size: 11pt;
    margin: 0;
}


@media only screen and (max-width: 600px) {
    header {
        height: 65px;
    }

    .header-left img {
        height: 40px;
        margin: 0 20px;
    }

    .header-left h1 {
        font-size: 25px;
    }

    .header-right {
        width: 75px;
    }

    .header-right p {
        display: none;
    }


}


