.contact-container {
    display: block;
    margin: 125px auto 0 auto;
    padding: 25px 25px;
    width: 500px;
    background-color: #359081;

}

.contact-search input {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 35px;
    font-size: 15px;

}

.contact-display {
    display: block;
    margin: 35px auto 0 auto;
    width: 80%;
    height: 500px;
    overflow-y: auto;
}

.contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
}

.contact-wrapper img {
    height: 35px;
    cursor: pointer;
}

.contact-wrapper p {
    margin-left: 15px;
}