header {
    display: none;
}

.menu-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: white;
    width: 350px;
}

.menu-header {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 75px;
}

.menu-header img {
    height: 50px;
    margin: 0 25px;
}

.menu-header h1 {
    font-size: 25px;
    color: #359081;
}

.menu-tabs {
    width: 350px;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu-tab-button {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #359081;
    font-size: 15px;
    color: white;

}

#Contact .contact-search {
    width: 100%;
}

#Contact .contact-search input {
    margin: 0 auto;
    width: 340px;
    height: 35px;
}

#Contact .contact-display {
}

#Contact .contact-display img {
    height: 25px;
    margin: 0 15px;
}

#Contact .contact-display .contact-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-display {
    width: 100%;
    height: 500px;
    overflow-y: auto;
}


.message-wrapper {
    display: flex;
    height: 65px;
    background-color: #359081;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 350px;
    right: 0;
    bottom: 0;
}

.message-wrapper input {
    width: 80%;
    height: 35px;
    font-size: 15px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
}

.message-wrapper input:focus {
    outline: none;
}