.login-wrapper {
    display: block;
    width: 530px;
    height: 285px;
    background-color: #359081;
    margin: 175px auto 0 auto;
    padding: 5px 25px 5px 25px;
    color: white;
    border-radius: 10px;

}


.login-wrapper form {
    width: 350px;
    margin: 0 auto;
}

/*.login-wrapper p {
    margin: 10px 0 10px 0;
    height: 31px;
}*/

.login-wrapper label {
    display: block;
    width: 100px;
    font-weight: bold;
    margin-bottom: 7px;
    margin-left: 20px;
}

.login-wrapper input {
    display: block;
    height: 25px;
    width: 300px;
    font-size: 15px;
    padding-left: 5px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}

.login-wrapper a {
    display: inline-block;
    margin: 18px 15px 0 15px;
    color: white;
    float: right;
    text-decoration: none;
}

#btn {
    width: 100px;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #359081;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

@media only screen and (max-width: 600px) {
    .login-wrapper {
        width: 70%;
        height: 290px;
        margin: 120px auto 0 auto;
    }

    .login-wrapper form {
        width: 100%;
    }

    .login-wrapper input {
        width: 80%;
    }

    .login-wrapper label {
        font-size: 15px;
        margin-left: 30px;
    }

    #btn {
        margin-right: 30px;
    }
}