
.profile-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 150px auto;
    width: 800px;
    height: 500px;
}

.profile-container {
    width: 350px;
    height: 500px;
    background-color: #359081;
    border-radius: 5px;
}

.


.friend-container {
    width: 350px;
    height: 50%;
    background-color: #359081;
    border-radius: 5px;
    margin: 0 25px;

}

