.register-wrapper {
    display: block;
    width: 530px;
    height: 535px;
    color: white;
    background-color: #359081;
    margin: 175px auto 0 auto;
    padding: 5px 25px 5px 25px;
    border-radius: 10px;
}

.register-wrapper form {
    width: 311px;
    margin: 0 auto;
}

.register-wrapper form ul {
    display: none;
}

.register-wrapper p {
    margin: 10px 0 10px 0;
}

.register-wrapper label {
    width: 215px;
    font-weight: bold;
    margin-bottom: 7px;
}

.register-wrapper input {
    display: block;
    height: 25px;
    width: 300px;
    font-size: 15px;
    padding-left: 10px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}

.register-wrapper a {
    display: inline-block;
    margin: 20px 15px 0 15px;
    float: right;
    color: white;
    text-decoration: none;
}

#btn {
    width: 100px;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #359081;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    margin-right: 0;
}


@media only screen and (max-width: 600px) {

    .register-wrapper {
        width: 70%;
        margin-top: 120px;
    }

    .register-wrapper form {
        width: 100%;
    }

    .register-wrapper label {
        font-size: 15px;
        margin-left: 30px;
    }

    .register-wrapper input {
        width: 80%;
    }

    #btn {
        margin-right: 30px;
    }

}