<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>ChatSite</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'chatapp/base.css' %}">
    <link rel="icon" type="image/png" href="{% static 'chatapp/images/message-logo.png' %}">

    {% block head %}

    {% endblock %}
</head>

<style>
    label, input {
        display: block;
    }

    .helptext {
        display: none;
    }

</style>


<body>

    <header>

        <div class="header-left">

            <a href="{% url 'index' %}" ><img src="{% static 'chatapp/images/message-logo.png' %}"></a>
            <h1>ChatSite</h1>

        </div>

        <div class="header-right">

            <a href="{% url 'profile' user_id=request.user.id %}"><img src="{% static 'chatapp/profile.png' %}"></a>

        </div>

    </header>

    {% block content %}
    {% endblock %}

</body>
</html>